<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>{{ titulo }}</h1>
    </header>
    <main>
        <h2>Cotações Atuais:</h2>
        <div class="cotacoes-container">
            {% for sigla, dados in cotacoes.items() %}
            <div class="card-cotacao">
                <h3>{{ dados.moeda_base }}/{{ dados.moeda_alvo }}</h3>
                <p>Valor: R$ {{ "%.4f"|format(dados.valor|float) }}</p>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
